<!DOCTYPE html>
<head>
    <title>Facturacion</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/Menu.css">
</head>
<body>
<div class="header">
    <div>
        <div>
            <p>Facturación </p> <p>electronica</p></div>
        <div><img class="logo" src="../../static/Images/logo.png" alt=""/></div>
    </div>

    <ul class="Menu">
        <li>
            <a href="/presentation/AcercaDe/show">Acerca De</a>
        </li>
        <li>
            <a href="/presentation/Login/show">Login</a>
        </li>
        <li>
            <a href="/presentation/Facturar/show">Prueba</a>
        </li>

        <li>
            <a href="">All view's</a>
            <ul>
                <li><a href="" title="-">-></a></li>
                <li><a href="/presentatio/Usuarios/view" title="-">Usuarios</a></li>
                <li><a href="/presentatio/Clientes/view" title="-">Clientes</a></li>
                <li><a href="/presentation/Productos/view" title="-">Productos</a></li>
                <li><a href="/presentation/Facturas/view" title="-">Facturas</a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="center">
    <table style="border: 4px solid blue">
        <tr> <th>Username</th> <th>Password</th> <th>Tipo</th> <th>...</th> </tr>
        <tr th:each="u: ${S_usuarios}">
            <td th:text="${u.getUsern()}"/>
            <td th:text="${u.getPasw()}"/>
            <td th:text="${u.getTipo()}"/>
            <td><a th:href="@{/presentatio/Usuarios/view(idPr=${u.getUsern()})}"></a></td>
        </tr>
    </table>
</div>
<div>
    <footer>
        facturasOnline@best.team.com
    </footer>
</div>
</body>
</html>