<!DOCTYPE html>
<html>
    <head>
        <title>Facturacion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../../static/css/Menu.css">
        <link rel="stylesheet" href="../../../static/css/styleHeaderFooter.css">
        <link rel="stylesheet" href="../../../static/css/formLogin.css">


    </head>
    <body>
        <div class="header">
            <div>
                <div>
                    <p>Facturación </p> <p>electronica</p></div> <div><img class="logo" src="../../../static/Images/logo.png"/>&nbsp</div>
            </div>
            <div>
                <ul class="Menu">
                    <li>
                        <a href="/presentation/AcercaDe/show">Acerca De</a>
                    </li>
                    <li>
                        <a href="URLdelogin">Login</a>
                    </li>
                </ul>
            </div>
        </div>
        <form action="urldeaccion">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter Username">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter Password">
                <button type="submit">Login</button>
                <label>New with us?</label>
                <label>Create your new acount today</label>
                <label><a href="/newU">CREATE NEW ACCOUNT</a></label>
            </div>
        </form>

    <div>
        <footer>
            facturasOnline@best.team.com
        </footer>
    </div>
    </body>
</html>
