<!DOCTYPE html>
<html>
<head>
    <title>Facturar</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/Menu.css">
    <link rel="stylesheet" href="../../../static/css/styleHeaderFooter.css">
    <link rel="stylesheet" href="../../../static/css/Table.css">
    <link rel="stylesheet" href="../../../static/css/formTablas.css">


</head>
<body>
<div class="header">
    <div>
        <div>
            <p>Facturación </p> <p>electronica</p></div> <div><img class="logo"
            src="../../../static/Images/logo.png"></div>
    </div>
    <div>
        <ul class="Menu">
            <li>
                <a href="/presentation/AcercaDe/show">Acerca De</a>
            </li>
            <li>
                <a href="/presentation/Facturar/show">Facturar</a>
            </li>
            <li>
                <a href="/presentation/clientes/show">Clientes</a>
            </li>
            <li>
                <a href="/presentation/Productos/show">Productos</a>
            </li>
            <li>
                <a href="/presentation/Facturas/show">Facturas</a>
            </li>
            <li>
                <a href="/presentation/Usuario/show">Usuario</a>
            </li>
        </ul>
    </div>
</div>
<form action="urldeaccion" id="Proveedor-Cliente">
        <label>Facturar</label>
        <label>Proveedor</label>
        <p> poner get del session proveedor</p>
        <label>Cliente:</label>
        <p>poner get del session del cliente</p>
        <input type="text" id="identificacionC" name="identificacionC" placeholder="Client ID">
</form>
<form id="tabla">
        <div>

            <table>
                <tr> <th>Cant.</th> <th>Descripción</th> <th>Precio</th> <th>Monto</th> </tr>
                <tr th:each="c:${Producto}"></tr>
                <td th:text="${cantidadProducto}"></td>
                <td th:text="${c.nombreP}"></td>
                <td th:text="${c.precio}"></td>
                <td th:text="${c.cantidadProducto * c.precio}"></td>
            </table>
        </div>
    </div>
</form>

<div>
    <footer>
        facturasOnline@best.team.com
    </footer>
</div>
</body>
</html>
