.Menu li ul li img{
    width: 10px;
    height: 10px;
    background-color: grey;
}
body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height:100vh;
    margin: 0;
    padding: 0px;
}
.Menu li {
    display: inline-block;
    margin:  10px;
    position: relative;
}

.Menu li p {
    font: initial;
}

.Menu li a {
    text-decoration: none;
    color: black;
}


.Menu li ul {
    display: none;
    position: absolute;
    padding: 0px;
    top: 100%;
    left: 0;
}

.Menu li:hover ul {
    display: block;
}
#h,#l,#f{
    flex: 1;
    margin: 0;
    padding: 0px;

}
#h{
    height: 10px;
    background-color:coral;
    margin-bottom: 200px;
    text-align: center;
}
#l{
    height: 100%;
}
#f{
    margin-top: 200px;
    height: 10px;
    background-color: coral;
    text-align: center;
}
#l {
    background-color: lightgray;
    border-radius: 10px;

    width: 300px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}


#l h1 {
    text-align: center;
    margin-bottom: 20px;
}


#l form {
    display: flex;
    flex-direction: column;
}


#l form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


#l form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}


#l form button {
    background-color: limegreen;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* Rounded corners for button */
    cursor: pointer;
}


#l form button:hover {
    background-color: green;
}
