<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <link rel="stylesheet" href="../../../static/css/Menu.css">
    <link rel="stylesheet" href="../../../static/css/style.css">
</head>
<body>
<div class="header">
    <div>
        <div>
            <p>Facturación </p> <p>electronica</p></div> <div><img class="logo" src="../../../static/Images/logo.png"></div>
    </div>
    <div>
        <ul class="Menu">
            <li>
                <a href="/presentation/AcercaDe/show">Acerca De</a>
            </li>
            <li>
                <a href="/presentation/Facturar/show">Facturar</a>
            </li>
            <li>
                <a href="/presentation/clientes/show">Clientes</a>
            </li>
            <li>
                <a href="/presentation/Productos/show">Productos</a>
            </li>
            <li>
                <a href="/presentation/Facturas/show">Facturas</a>
            </li>
            <li>
                <a href="/presentation/Usuario/show">Usuario</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>