<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Facturas</title>
    <link rel="stylesheet" href="../../../static/css/Menu.css">
    <link rel="stylesheet" href="../../../static/css/styleHeaderFooter.css">
    <link rel="stylesheet" href="../../../static/css/formTablas.css">
    <link rel="stylesheet" href="../../../static/css/Table.css">

</head>
<body>
<div class="header">
    <div>
        <div>
            <p>Facturación </p> <p>electronica</p></div> <div><img class="logo" src="../../../static/Images/logo.png"></div>
    </div>
    <div>
        <ul class="Menu">
            <li>
                <a href="/presentation/AcercaDe/show">Acerca De</a>
            </li>
            <li>
                <a href="/presentation/Facturar/show">Facturar</a>
            </li>
            <li>
                <a href="/presentation/clientes/show">Clientes</a>
            </li>
            <li>
                <a href="/presentation/Productos/show">Productos</a>
            </li>
            <li>
                <a href="/presentation/Facturas/show">Facturas</a>
            </li>
            <li>
                <a href="/presentation/Usuarios/show">Usuario</a>
            </li>
            <li>
                <a href="/presentation/OUT/OUT">Logout</a>
            </li>
        </ul>
    </div>
</div>
<div id="box2">
    <table>
        <tr> <th>Num Factura</th><th>Cliente</th> <th>Proveedor</th> <th>Monto</th> </tr>
        <tr th:each="u: ${Sfacturas}">
            <td th:text="${u.getNumFact()}"/>
            <td th:text="${u.getClientesByIdCliente().getNombrec()}"/>
            <td th:text="${u.getProveedoresByIdProveedor().getNombrep()}"/>
            <td th:text="${u.getTotal()}"/>

        </tr>
    </table>
</div>

</body>
</html>